---
import Section from "../Section.astro"
import { skills } from "@cv"

import CSS from "@/icons/Css.astro"
import HTML from "@/icons/Html.astro"
import icoAstro from "@/icons/AstroI.astro"
import JavaScript from "@/icons/JS.astro"
import MySQL from "@/icons/SQL.astro"
import PHP from "@/icons/PHP.astro"
import Smarty from "@/icons/Smarty.astro"

const SKILLS_ICONS: Record<string, any> = {
  CSS,
  HTML,
  icoAstro,
  JavaScript,
  MySQL,
  PHP,
  Smarty,
}
---
<Section title="Habilidades">
	<ul>
		{
			skills.map(( { name } ) => {
        		const iconName = name === "Astro" ? "icoAstro" : name
        		const Icon = SKILLS_ICONS[iconName];

				return (
					<li class="skill-item">
						{Icon && <span class="skill-icon no-print" title={name}><Icon /></span> }
						<span class="skill-text print">{name}</span>
					</li>
				)
			})
		}
	</ul>
</Section>

<style>
	ul {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	.skill-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
	}
	.skill-text {
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 1.5rem;
		height: 1.5rem;
		padding: 0 .5rem;
		border-radius: .325rem;
		background: #F4F4F4;
		color: #222;
		border: 1px solid #EEE;
		display: inline-block;
	}
</style>