---
import Layout from '@/layouts/Layout.astro';

// Configurado en tsconfig.json => "src/components/sections/*.astro"
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';
import Skills from '@/components/sections/Skills.astro';
import Experience from '@/components/sections/Experience.astro';
import Education from '@/components/sections/Education.astro';
import Projects from '@/components/sections/Projects.astro';

// Configurado en tsconfig.json => "src/components/*.astro"
import KeyboardManager from '@/components/KeyboardManager.astro';

import { basics } from "@cv"
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<main>
   	<Hero />
   	<Skills />
   	<About />
   	<Experience />
   	<Education />
   	<Projects />
	</main>
	<KeyboardManager />
</Layout>

<style>
  	main {
  		background: #FFF;
   	padding: 2rem;
   	margin: auto;
   	border-radius: .5rem;
   	box-shadow: 0 0 1rem #0004;
		max-width: 60%;
  	}
  	@media (width <= 700px) {
    	main {
      	padding: 2rem;
    	}
  	}
  	@media print {
  		main {
  			max-width: 100%;
   		box-shadow: 0 0 1rem transparent;
  		}
  	}
</style>